<section class="main-page" {{ section.shopify_attributes }}>
  <h1>{{ page.title }}</h1>
  <div class="rte">{{ page.content }}</div>

  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        {% render block %}
    {%- endcase -%}
  {%- endfor -%}
</section>

{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "section-main-page",
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Page"
    }
  ]
}
{% endschema %}
