@use "../helpers/library" as *;

.video-background {
	width: 100%;
}

.video-background__viewport {
	position: relative;
	left: 50%;
	width: 100vw;
	margin-left: -50vw;
	overflow: hidden;
	background-color: var(--color-black);
}

.video-background__media,
.video-background__video {
	width: 100%;
	height: 100%;
}

.video-background__video {
	display: block;
	object-fit: cover;
}

.video-background--desktop-16-9 {
	.video-background__viewport {
		aspect-ratio: 16 / 9;
		height: auto;
	}
}

.video-background--desktop-viewport-height {
	.video-background__viewport {
		aspect-ratio: auto;
		height: 100dvh;
	}
}

.video-background.has-mobile-overrides {
	.video-background__media--mobile-active {
		display: none;
	}
}

@media screen and (max-width: #{bp('main') - 0.02}) {
	.video-background.has-mobile-overrides {
		.video-background__media--desktop {
			display: none;
		}

		.video-background__media--mobile-active {
			display: block;
		}

		&.video-background--mobile-16-9 {
			.video-background__viewport {
				aspect-ratio: 16 / 9;
				height: auto;
			}
		}

		&.video-background--mobile-viewport-height {
			.video-background__viewport {
				aspect-ratio: auto;
				height: 100dvh;
			}
		}
	}
}

.video-background__placeholder {
	left: 50%;
	position: relative;
	width: 100vw;
	margin-left: -50vw;
	padding: var(--space-12) var(--space-6);
	background: #f4f4f4;
	text-align: center;
}