@use "helpers/library" as *;
@use "config" as *;

html {
	height: 100%;
	font-size: $base-font-size;
}

body {
	background-color: var(--color-background, #000);
	color: var(--color-foreground, #fff);
	font-family: var(--font-family-base);
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
}

legend {
	font-family: var(--font-family-form-legend);
}

::selection {
	background-color: var(--selection-background, #ccc);
	color: var(--selection-foreground, #333);
}

// Breakpoint helpers
@each $bp, $query in $breakpoints {
	.hide-below-#{$bp} {
		@include screenDown($bp) {
			display: none !important;
		}
	}

	.hide-above-#{$bp} {
		@include screenUp($bp) {
			display: none !important;
		}
	}
}

